*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

}


nav.navbar {
  background-color: #fff;
  position: sticky;
}

body {
  background-image: url('https://i.imgur.com/Ok8mRmA.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.cardHighlight{
  min-height: 100%;
}

.card-vintage{
  background-color: rgb(140,190,178);
}

.card-btn-vintage{
  background-color: rgb(243,181,98);
}

.box-height {
  min-height: 130px;
}

.box-height-home {
  min-height: 200px;
}

.card {
  margin: 0 0 15px 0;
}

.bg-image {
  background-image: src="https://images.pexels.com/photos/2217366/pexels-photo-2217366.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1";
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav{
  background-color: linear-gradient(to right, rgba(140, 190, 178, 0.5), rgba(240, 96, 96, 0.5));
}

